body {
    margin: 0;
    padding: 0;
}

#wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 1.5rem 1.25rem;
  font-size: 2rem;
  width: 3rem;
}

#sidebar-wrapper .list-group {
  width: 3rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}




header {
    padding: 20px 0 0 0;
    background: white;
    text-align: center;
}
.container {
    width: 75%;
}
/*
#menuBar { max-width: 30px;}
*/
.remove {
    padding: 5px 10px;
    text-decoration: none;
    color: red;
    font-weight: bold;
}

ul {
    list-style: none;
}
#hero {
    background-image:url(../assets/images/hero.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
