/* CSS Variables */ 

:root{
  --primary-color: #3a7e80;
  --primary-color2: #00695c;
  --background-color: #ebebeb;
  --azul: #1F4287;
  --rosa: #FF66C4;
  --title-color: #18ffff;
  --text-color: #777777;  
  --border-color: #201f1f17;  
  --shadow-color:  0px 10px 30px rgba(118, 85, 225, 0.3);
  --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
 

  /* font family variables. */ 
  --roboto: 'Roboto', cursive;
} 
/* import fonts from fonts.css file */ 
@import url(./fonts.css);

/* configuraciones generales */

body {
    margin: 0;
    padding: 0;
}
ul {
  list-style: none;
}
a {
  font-size: 1.5rem; 
}
h4 {
  font-size: 2.5rem;
}
/* diseño del header */
header {
  padding: 20px 0 0 0;
  background: white;
  text-align: center;
}
#hero {
  background-image:url(../assets/images/header3.jpg);
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
/* diseño principal del viewport */
#wrapper {
    overflow-x: hidden;
}
#sidebar-wrapper {
  min-height: 100vh;
  position: fixed;
  z-index: 100;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out; 
}
#sidebar-wrapper .sidebar-heading {
  margin-top: 12rem;
}
#sidebar-wrapper .list-group {
  width: 3.5rem;
}
#page-content-wrapper {
  min-width: 100vw;
}
/* barra del menu */
#menu-toggle {
  width: 3.5rem;
}
#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
  display: none;
} 
.menuItem {
  box-shadow: var(--box-shadow);
  color: var(--azul);
}
.menuItem:first-child {
  color: var(--primary-color2);
}
.menuItem:nth-child(2) {
  color: var(--rosa);
}
.menuItem :last-child {
  color: var(--primary-color);
}

/* carrito de compras */
.infoCont {
  color: #00695c;
}
.infoContButton {
  color: white;
  background-color:var(--azul);
}
.cartImg {
  width: 50px;
}
.cartDescText{
  text-align: center;
}
/* configuracion para animaciones */
.searchBar, .services-area, .coursesCard {
  overflow: hidden;
}

.coursesCard {
  min-height: 700px;
  
}

 


#footer {
  background-image:url(../assets/images/footerbg.png);
  height:350px;
  background-size:cover;
  background-repeat: no-repeat;
  background-position:top;
}

.services { 
  background-color: var(--title-color);
  min-height: 300px;
}
 /* configuracion area de CV*/
.imgLuciana {
  background-color:var(--title-color)
}
.cv {
  box-shadow: var(--box-shadow);

/* configuracion area de servicios ofrecidos*/
}
.services-list{
  padding: 7rem 2rem;
}
.services-list .services-title{
  padding: 0 14rem;
}
.services-list .services-title h1{
  font-size: 35px;
}
.services-list.services{
  background: rgba(248, 252, 253, 0.973);
  padding: 2rem 0;
  width: 16rem;
  margin: 5rem .5rem;
  transition: box-shadow .7s ease;
}
.services-list .services:hover{
  box-shadow: var(--box-shadow);
}

/* configuraciones de carrito */
.remove {
  padding: 5px 10px;
  text-decoration: none;
  color: red;
  font-weight: bold;
}

/* media query para pantallas mayoraes a 768px */

@media (min-width: 768px) {
    #sidebar-wrapper {
    margin-left: 0;
    }

    #page-content-wrapper {
    min-width: 0;
    width: 100%;
    }
    #hero {
      
      height: 600px;
    }
    .cartImg {
      width: 100px;
    }
}

